/** CSS STYLE **/
:root {
  --white: #fff;
  --trance-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --trance-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.heading {
  font-weight: normal;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.primary {
  color: var(--primary);
}

.background {
  position: relative;
}

.background::before {
  position: absolute;

  top: 0;
  left: 0;

  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;

  width: 100%;
  height: 100%;

  content: '';
}

.background-light {
  background-color: var(--light);
}

.header-image {
  position: absolute;

  top: 55px;
  right: -270px;

  height: 525px;
}

.header-text-container {
  display: flex;
  margin-top: 225px;
}

.header-text {
  margin-right: 30px;
}

.header-button {
  width: 149px;
  margin: auto;
  margin-top: 38px;
}

.button {
  height: 48px;
  margin: auto;
  padding: 12px 24px;

  color: var(--white);

  font-weight: bold;

  background-color: var(--primary);
}

.main-container {
  margin-bottom: -200px;
}

.video-heading {
  margin-bottom: 30px;

  text-align: center;
}

.video-text {
  text-align: center;
}

.video-container {
  text-align: center;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.input {
  color: var(--white);

  background-color: var(--primary-dark);
}
