/** CSS STYLE **/
:root {
  --white: #fff;
  --trance-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --trance-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

h1 {
  position: relative;

  z-index: 20;

  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3,
.p-h3 {
  font-size: 34px;
}

h4,
.p-h4 {
  font-size: 24px;
}

.heading {
  font-weight: normal;
  font-family: 'Neucha', cursive;
  font-style: normal;
  line-height: 1.2em;
}

a {
  color: var(--dark);

  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-50 {
  flex-basis: 50%;
}

.width-100 {
  width: 100%;
}

.max-width-350 {
  max-width: 350px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-540 {
  max-width: 540px;
}

.mt-0 {
  margin-top: 0;
}

.mt-4 {
  margin-top: 4px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-43 {
  margin-top: 43px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-92 {
  margin-top: 92px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-193 {
  margin-top: 193px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-200 {
  margin-bottom: -200px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-52 {
  padding-left: 52px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ta-center {
  text-align: center;
}

.overflow-x {
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.primary {
  color: var(--primary);
}

.trance-dark {
  color: var(--trance-dark);
}

.white {
  color: var(--white);
}

.primary-dark {
  color: var(--primary-dark);
}

.blue {
  color: var(--blue);
}

.background {
  position: relative;
}

.background::before {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: '';
}

.background-light {
  background-color: var(--light);
}

.background-dark {
  background-color: var(--dark);
}

.background-white {
  background-color: var(--white);
}

.background-brown {
  background-color: var(--brown);
}

.background-ptimary {
  background-color: var(--primary);
}

.background-primary-dark {
  background-color: var(--primary-dark);
}

.cards {
  margin: auto;
  padding: 0;

  list-style: none;

  counter-reset: counter-number;
}

.header-image {
  position: absolute;

  top: 55px;
  right: -270px;

  z-index: 10;

  height: 525px;
}

.header-button {
  width: 149px;
  height: 48px;
  margin-top: 40px;
  margin-bottom: 4px;
  padding: 12px 24px;
}

.header-button a {
  font-weight: bold;
  font-style: normal;

  text-transform: uppercase;

  cursor: pointer;
}

.video {
  border: 0;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.card-content {
  margin: 0;

  font-size: 52px;
}

.card {
  padding: 24px;
}

.card:not(:first-child)::before {
  margin-bottom: 40px;

  color: var(--primary-dark);

  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1em;

  content: counter(counter-number);
  counter-increment: counter-number;
}

.card a {
  display: block;
  height: 100%;
}

.card:hover {
  color: var(--white);

  background-color: var(--primary);
}

.card:hover::before {
  color: var(--white);
}

.card:hover h3 {
  color: var(--white);
}

.card:hover .card-text {
  color: var(--white);
}

.section-image {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section-manifest {
  padding-left: 8px;

  font-weight: bold;
  font-size: 14px;
  font-style: normal;

  text-transform: uppercase;
}

.email {
  display: block;

  font-weight: bold;
  font-size: 18px;
  font-style: normal;
}

.input-group {
  justify-content: start;
}

.input {
  width: 394px;
  height: 50px;
  padding: 15px;

  font-size: 18px;

  border: 0;
}

.input::placeholder {
  opacity: 0.2;
}

.send {
  position: relative;

  width: 70px;
  height: 50px;

  margin-top: 0;
  margin-left: 0;

  border: 0;
}

.send::before {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--primary);
  background-image: url('../images/send.svg');
  background-repeat: no-repeat;
  background-position: center;

  content: ' ';
}

.agreement {
  font-size: 12px;
}

.agreement a {
  text-decoration: underline;
}

.copyright {
  font-size: 14px;
}

.copyright a {
  text-decoration: underline;
}
